<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pizzas</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('pizzas')}"></nav>
    <hr />
    <main class="container py-4">


        <section class="row">
            <div class="col-12">
                <table class="table" th:if="${pizzas.size() > 0}">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
                            <td>[[*{id}]]</td>
                            <td>[[*{name}]]</td>
                            <td>[[*{price}]]</td>
                            <td>
                                <a th:href="@{/pizzas/{id}(id=*{id})}" class="btn btn-sm btn-outline-primary">
                                    <i class="fa-thin fa-pizza"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p th:text="No pizzas available at the moment .... soryy" th:unless="${pizzas.size() > 0}"></p>

            </div>

        </section>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>