<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
</head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('specials')}"></nav>
    </header>

    <main class="container py-4">
        <div class="row">
            <div class="col-12">
                <th:block>
                    <h1 class="py-4 mb-2 text-center fw-bold">
                        Special of the Day pizza [[${specialDay.pizza.name}]]!
                    </h1>
                    <h2 class="py-4 mb-2 text-center">
                        price of the pizza Today - [[${specialDay.pizza.price}]]
                    </h2>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <form id="special-form"
                                th:action="${edit != null and edit} ? @{/specials/edit/{id}(id=${specialDay.id})} : @{/specials/create}"
                                th:object="${specialDay}" method="post">



                                <input type="hidden" th:field="*{pizza.id}" id="linked-pizza">
                                <div class="mb-3">
                                    <label class="form-label" for="start-special-date">Special-Starts:</label>
                                    <input class="form-control" type="date" id="start-special"
                                        th:field="*{startSpecialDate}" th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('startSpecialDate')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('startSpecialDate')}"
                                                th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="end-special-special">Special-Ends:</label>
                                    <input class="form-control" type="date" id="end-special"
                                        th:field="*{endOfSpecialDate}" th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('endOfSpecialDate')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('endOfSpecialDate')}"
                                                th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="notes">Notes:</label>
                                    <textarea id="notes" class="form-control" th:field="*{notes}"
                                        th:errorClass="is-invalid"></textarea>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('notes')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('notes')}" th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>


                                <div class="mb-3 d-flex justify-content-between">
                                    <input type="submit" class="btn btn-outline-primary"
                                        th:value="${edit != null and edit} ? 'Update Special' : 'Create Special'">
                                    <input type="reset" class="btn btn-outline-warning" value="Reset all fields">
                                </div>

                            </form>

                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>